:root {
    --background:           #212121;
    --text:                 #FFFFFF;
    --secondary-hover:      #73828c;
    --secondary-focus:      #606060;
    --secondary-inverse:    #FFF;
    --primary-background:   #757575;
    --secondary-background: #424242;
    --link:                 #00B0FF;
    --link-visited:         #40C4FF;
    --buttom:               #dcdcdb;
    --buttom-text:          #415462;
    --button-border:        #91918c;
    --buttom-hover:         #BBB;
    --search-text:          #FFF;
    --time-background:      #212121;
    --time-text:            #FFF;
}
