:root {
    --background:        #121212;
    --text:              #FFF;
    --secondary-hover:   #73828c;
    --secondary-focus:   #616161;
    --secondary-inverse: #FFF;
    --secondary-background: #424242;
    --link:              #22aaff;
    --link-visited:      #7755ff;
    --buttom:            #dcdcdb;
    --buttom-text:       #415462;
    --button-border:     #91918c;
    --buttom-hover:      #BBB;
    --search-text:       #FFF;
    --time-background:   #000;
    --time-text:         #FFF;
}
