:root {
    --background:        #2d3743;
    --text:              #FFF;
    --secondary-hover:   #73828c;
    --secondary-focus:   rgba(115, 130, 140, 0.125);
    --secondary-inverse: #FFF;
    --primary-background:#424242;
    --secondary-background: #102027;
    --link:              #22aaff;
    --link-visited:      #7755ff;
    --buttom:            #dcdcdb;
    --buttom-text:       #415462;
    --button-border:     #91918c;
    --buttom-hover:      #BBB;
    --search-text:       #FFF;
    --time-background:   #000;
    --time-text:         #FFF;
}
