:root {
    --background:           #FFFFFF;
    --text:                 #212121;
    --secondary-hover:      #212121;
    --secondary-focus:      #E4E4E4;
    --secondary-inverse:    #FFFFFF;
    --primary-background:   #CCCCCC;
    --secondary-background: #F5F5F5;
    --link:                 #212121;
    --link-visited:         #606060;
    --buttom:               #DCDCDC;
    --buttom-text:          #212121;
    --button-border:        #91918c;
    --buttom-hover:         #BBBBBB;
    --search-text:          #212121;
    --time-background:      #212121;
    --time-text:            #FFFFFF;
}
